<% users.in_groups_of(3).each do |user_row| %>
	<div class="span-8"> 
			<%user=user_row[0] %>
			<%= render :partial => 'users/user', :locals => { :user => user } %>
	</div>
	<div class="span-8"> 
		<%user=user_row[1] %>
		<%= render :partial => 'users/user', :locals => { :user => user } unless user.nil?%>
	</div>
	<div class="span-8 last"> 
		<%user=user_row[2] %>
		<%= render :partial => 'users/user', :locals => { :user => user } unless user.nil?%>
	</div>
	<div class='span-24 last'>
		<hr/>
	</div>		
<%end%>	
	
