<div id="footer" class="span-24 last">
	<p><%= PLANETOID_CONF[:site][:footer][:content] %></p>
</div>
<div class="span-24 last">
		<center>
			<small>
				Proudly powered by <strong><a href="http://github.com/jaimeiniesta/planetoid">Planetoid</a></strong>
			</small>
		</center>
	</div>	