<div id="header" class="span-24 last">		
		<p class="span-22 prepend-1 append-1"><%= PLANETOID_CONF[:site][:header][:content] %> <%= link_to '(rss)', rss_link, :style=>'color: #EA9734'  %></p>			
</div>