<div class="span-15 last"><%= render :partial => 'shared/admin_links' if admin? %></div>
<div class="span-15 last"><%= render :partial => 'shared/flashes' %></div>
<div class="span-15 last"><h1><%= PLANETOID_CONF[:site][:title] %></h1></div>

