<div class="span-24 last">
  <h2>projects</h2>
</div>
<div class="span-22 prepend-1 append-1 last">
	<% @projects.each do |p| %>
		<%= render :partial => 'projects/project', :locals => {:project => p} %>
	<% end %>
</div>
<hr class="space" />
<hr/>