# Planetoid config file.
# Copy this file as config/planetoid.yml and change it to configure your planetoid
# You can have different environments if you like, for production, staging or testing

development: &development
    
  :admin:
    :login: admin
    :password: XXXXXXX

  :site:
    :title: Planeta ASPgems
    :description: feed aggregator for the members of ASPgems
    :keywords: aspgems, planet, community, feeds, blogs, ruby on rails, madrid, spain, ruby, rails
    :feed_url: 
    :header:
      :title: Header
      :content: This is the planet for the blogs of all the members of aspgems. Subscribe to this page to get all the updates in a single feed
    :footer:
      :title: Footer
      :content: copyright 2009 ASPgems

  :layout:
    :home:
      :show_header: true
      :show_footer: true
      :show_users: true
      :show_projects: true
      :show_entries: true
    :users:
      :show_avatar: true
    :entries:
      :title: blog posts
      :show_avatar: true
      :show_summary: true
      :strip_tags: true
      :summary_length: 400

  :google:
    :analytics:
        
test:
    <<: *development
    
production:
    <<: *development
